<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Introduction Mad Libs</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" />
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.4.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div id="main">
            <div ng-controller="mainController">
                <br/><br/>
                <div id="header">
                    <h1>Angular Mad Libs</h1>
                </div>
                <div id="input">
                    <label>A Place Name: </label><br/>
                    <input type="text" ng-model="placeName"/><br/><br/>

                    <label>A Noun: </label><br/>
                    <input type="text" ng-model="noun"/><br/><br/>                    

                    <label>A Noun: </label><br/>
                    <input type="text" ng-model="noun2"/><br/><br/>                    

                    <label>A Season: </label><br/>
                    <select ng-model="season" style="width:200px;height:30px;">
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Autumn">Autumn</option>
                        <option value="Winter">Winter</option>                        
                    </select><br/><br/>                    

                    <label>An Affectionate Term: </label><br/>                    
                    <input type="text" ng-model="affectionateTerm"/><br/><br/>

                    <label>A Verb (past tense): </label><br/>                    
                    <input type="text" ng-model="pastTenseVerb"/><br/><br/>                    

                    <label>A Type of Vehicle: </label><br/>                    
                    <input type="text" ng-model="vehicle"/><br/><br/>                      
                </div>

                <div id="output">
                    <h3>  
                        There once was a man from <span>{{placeName}}</span>.<br/>
                        He carried his <span>{{noun}}</span> around in a <span>{{noun2}}</span>.<br/> 
                        When <span>{{season}}</span> drew near, he cried, "Oh, my <span>{{affectionateTerm}}</span>!"<br/> 
                        And then he <span>{{pastTenseVerb}}</span> off in a<span>{{vehicle}}</span>.<br/>
                    </h3>
                </div><!-- end output -->
            </div><!-- end mainController -->
        </div><!-- end main -->
    </body>
</html>
