body{
    font-family:'Comic Sans MS', 'Arial', sans-serif;
}
#main{
    margin: 0 auto;
    width:50%;
}
#input:not(#reset){
    position:relative;
    float:left;    
    border:1px solid gray;
    padding:10px;
    margin:0px 40px 0px 0px;
}
#output{
    font-size:1.4em;
}
input:not(#reset), select, label{
    width:200px;
    height:25px;    
}
input:not(#reset), select{
    font-size:1.2em;
    color:green;
    background-color:#F3F7CB;
}
span{
    text-decoration:underline;
    color:green;
}
